@import '@/styles/base/colors.scss';

.tag {
  height: 24px;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply bg-gray-300;
  @apply px-2;
  @apply max-w-max;
  @apply rounded-md;
  @apply font-semibold;
  @apply capitalize;

  &-normal {
    background-color: $pk-normal;
  }
  &-fighting {
    background-color: $pk-fighting;
  }
  &-flying {
    background-color: $pk-flying;
  }
  &-poison {
    background-color: $pk-poison;
  }
  &-ground {
    background-color: $pk-ground;
  }
  &-rock {
    background-color: $pk-rock;
  }
  &-bug {
    background-color: $pk-bug;
  }
  &-ghost {
    background-color: $pk-ghost;
  }
  &-steel {
    background-color: $pk-steel;
  }
  &-fire {
    background-color: $pk-fire;
  }
  &-water {
    background-color: $pk-water;
  }
  &-grass {
    background-color: $pk-grass;
  }
  &-electric {
    background-color: $pk-electric;
  }
  &-psychic {
    background-color: $pk-psychic;
  }
  &-ice {
    background-color: $pk-ice;
  }
  &-dragon {
    background-color: $pk-dragon;
  }
  &-dark {
    background-color: $pk-dark;
  }
  &-fairy {
    background-color: $pk-fairy;
  }
  &-unknown {
    background-color: $pk-unknown;
  }
  &-shadow {
    background-color: $pk-shadow;
  }

}