@import '@/styles/base/colors.scss';

.pokemon {
  background-color: $bg-color;
  background-image: url('~@/assets/pokeball-2.svg');
  background-size: 50rem;
  background-position-y: -15rem;
  background-position-x: -15rem;
  background-repeat: no-repeat;
  max-height: calc(100vh - 2.5rem);
  @apply min-h-full;

  &-content {
    @apply py-5;
  }

  &-list {
    max-height: calc(100vh - 5rem);
    &__item {
      @apply cursor-pointer;
      @apply relative;
      @apply w-full;
      @apply bg-gray-200;
      @apply rounded-3xl;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);

      @apply flex;
      @apply justify-between;
      @apply items-center;
      @apply text-center;
      @apply px-4;
      @apply h-32;
      @apply md:h-44;

      .item-image {
        background-size: contain;
        background-image: url('~@/assets/pokeball-1.svg');
        background-repeat: no-repeat;
        background-position: center;
        @apply h-40;
        @apply md:h-44;
        @apply flex;
        @apply justify-center;
        @apply items-center;

        img {
          @apply mx-auto;
          @apply max-h-32;
          @apply md:max-h-20;
          @apply 2xl:max-h-32;
        }
      }

      .item-info {
        &__number,
        &__name {
          text-shadow: 0 0 12px rgb(0 0 0 / 25%);
          @apply text-white;
        }
        &__number {
          @apply text-sm;
          @apply md:text-xs;
          @apply 2xl:text-sm;
          @apply font-semibold;
          @apply mb-1;
        }
        &__name {
          @apply text-2xl;
          @apply md:text-lg;
          @apply 2xl:text-2xl;
          @apply font-semibold;
          @apply mb-3;
          @apply capitalize;
        }
        &__type {
          @apply px-4;
          @apply flex;
          @apply justify-center;
          @apply flex-wrap;

          .tag {
            &:not(:last-of-type) {
              @apply mr-1.5;
            }
          }
        }
      }
    }

    &:-webkit-scrollbar {
      display: none;
    }
  }
}