// Main
$bg-color: #F6F8FC;

// Pokemon Color
$pk-normal: #9A9DA1;
$pk-fighting: #D94256;
$pk-flying: #9BB4E8;
$pk-poison: #B563CE;
$pk-ground: #D78555;
$pk-rock: #CEC18C;
$pk-bug: #9DC130;
$pk-ghost: #6970C5;
$pk-steel: #5596A4;
$pk-fire: #F8A54F;
$pk-water: #559EDF;
$pk-grass: #5DBE62;
$pk-electric: #EDD53F;
$pk-psychic: #F87C7A;
$pk-ice: #7ED4C9;
$pk-dragon: #0773C7;
$pk-dark: #5F606D;
$pk-fairy: #EF97E6;
$pk-unknown: #000000;
$pk-shadow: #FFFFFF;

// Pokemon Shadow
$sh-normal: rgba(154, 157, 161, 1.0);
$sh-fighting: rgba(217, 66, 86, 1.0);
$sh-flying: rgba(155, 180, 232, 1.0);
$sh-poison: rgba(181, 99, 206, 1.0);
$sh-ground: rgba(215, 133, 85, 1.0);
$sh-rock: rgba(206, 193, 140, 1.0);
$sh-bug: rgba(157, 193, 48, 1.0);
$sh-ghost: rgba(105, 112, 197, 1.0);
$sh-steel: rgba(85, 150, 164, 1.0);
$sh-fire: rgba(248, 165, 79, 1.0);
$sh-water: rgba(85, 158, 223, 1.0);
$sh-grass: rgba(93, 190, 98, 1.0);
$sh-electric: rgba(237, 213, 63, 1.0);
$sh-psychic: rgba(248, 124, 122, 1.0);
$sh-ice: rgba(126, 212, 201, 1.0);
$sh-dragon: rgba(7, 115, 199, 1.0);
$sh-dark: rgba(95, 96, 109, 1.0);
$sh-fairy: rgba(239, 151, 230, 1.0);
$sh-unknown: rgba(0, 0, 0, 1.0);
$sh-shadow: rgba(255, 255, 255, 1.0);